body {
margin: 0;
text-align: center;
font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 80px;
  color: #66BFBF;
  font-family: "Sacramento", cursive;
  line-height: 2;
  /*100 = 16 px*/
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
  font-size: 2em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #66BFBF;
}

.profile {
float: left;
margin-right: 5%;
width: 210px;

}

.intro {
margin: 100px auto;
line-height: 2;
}

.eng {
  font-size: 2.5rem;
/* font-size: 40px; */
}

.work_table {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 80%
}

.skill_table {
  text-align: center;
  margin: 30px auto 0 auto;
  width: 80%
}

.top-container {
  background-color: #E4F9F5;
  color: #66BFBF;

  /* text-align: center; */
}
.middle-container {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 80%
  /* background-color: red;
width: 200px;
height: 200px; */
}

.bottom-container {
background-color: #E4F9F5;
padding: 0 0 20px;
}


.top-cloud {
  display: block;
  margin: auto 70%;
}

.bottom-cloud {
  display: block;
  margin: auto 15%;
}

.data {
  text-decoration: underline;
}

.dataeng {
  float: left;
}

hr {
  width: 100%
}

.bottom-line {
border-top: 5px dotted #EAF6F6;
border-bottom: none;
margin-top: 20px;
margin-bottom: 10px;
width: 3%


}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

ol {
  text-align: left;
  margin: 0 auto;
  width: 35%;
  line-height: 2;
  font-size: 18px;

}

.name {
  margin-top: 20px;
}
